$helvetica: system, -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$navSelected: #b70606;
$tomatoHeader: #b84133;
$navWidth: 1010px;
$maxWidth: 960px;
$calloutWidth: 350px;
$calloutBackground: rgba(0, 0, 0, 0.75);

@import '../../../../node_modules/resetcss/reset.min.css';
@import 'fontello.scss';
@import 'open_sans.css';
@import 'menlo.css';

$menlo: 'Menlo-Regular';
$open_sansregular: 'open_sansregular';
$open_sanssemibold: 'open_sanssemibold';
$open_sansbold: 'open_sansbold';
$open_sans_condensedbold: 'open_sans_condensedbold';
$open_sanscondensed_light: 'open_sanscondensed_light';
$desktopMarginTop: 4em;

@import "content_panels.scss";
@import "hamburger.scss";
@import 'makingOf.scss';
@import 'social_icons.scss';
@import 'splash.scss';
@import 'teaser.scss';
@import 'stills.scss';
@import 'interviews.scss';
@import 'screenings.scss';
@import 'links.scss';
@import 'about.scss';

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
}

::-moz-placeholder { /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.pause {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

body {
  background-color: black;
  font-family: $menlo;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animated {
  animation: animate 40s linear infinite;
  -webkit-animation: animate 40s linear infinite;
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.navigation {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: $navWidth;
  height: 1.5em;
  top: 0;
  left: 0;
  right: auto;
  text-align: right;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: auto;
}

.navigation ul {
  background-color: transparent;
  border: none;
  padding-bottom: 0;
  padding-top: 0;
}

.navigation li {
  display: inline-block;
}

#hamburger {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
}

@media (max-width: $navWidth) {
  .navigation {
    flex-direction: column;
    width: 210px;
    height: 1.5em;
    top: 2em;
    text-align: right;
    margin-left: 1em;
    margin-right: 0.5em;
  }

  .navigation ul {
    background-color: $calloutBackground;
    border: 1px solid #ccc;
    padding-bottom: 5px;
    padding-top: 3px;
  }
  .navigation li {
    display: block;
  }

  #hamburger {
    display: block;
  }
}

.mainNavButtonActive {
  color: white;
  display: inline-block;
  padding-top: 4px;
  padding-left: 0.7em;
  padding-right: 0.7em;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.mainNavButtonActive:hover {
  color: $navSelected;
}

.mainNavButtonSelected {
  color: $navSelected;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 0.7em;
  padding-right: 0.7em;
  cursor: default;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: rgba(255, 255, 255, 0.7);
}

.contentCenterAlign {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  font-family: $open_sansbold;
}

.contentInset {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 5em;
  width: 100%;
  max-width: $maxWidth;
  padding: 2em;
  paddingTop: '1em';
}

.listCallout, .makingOfListCallout {
  font-family: $menlo;
  font-size: 0.75em;
  line-height: 13px;
  text-align: right;
  background-color: $calloutBackground;
  //border: 1px solid #ccc;
  width: $calloutWidth;
  color: white;
  margin-right: 1em;
  text-transform: uppercase;

  li {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 0.7em;
    padding-right: 0.7em;
    font-size: 13px;
    cursor: pointer;
    line-height: 1.4em;
  }

  .listItemSelected {
    color: $tomatoHeader;
    cursor: default;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.makingOfListCallout {
  width: 350px;
}

.listItem {
  font-family: $menlo;
  font-size: 0.75em;
  line-height: 1.7em;
  color: white;
  background-color: $calloutBackground;
  padding: 2em;
  padding-bottom: 1em;
  width: 100%;

  h1 {
    font-family: $open_sansbold;
    line-height: 1.3em;
    font-size: 2em;
    margin-bottom: 1em;
  }
  h2 {
    margin-top: -1.6em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
  }
  p {
    padding-bottom: 1em;

  }
}

// CREDITS

.creditsWrapper {
  position: absolute;
  width: 100%;
  height: 95%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.logos {
  position: fixed;
  top: 3.5em;
  z-index: 1;
  overflow: hidden;
  width: 80px;
  margin-left: 3em;
  img {
    width: 90%;
    margin: 10px;
  }
}

.credits {
  position: relative;

  color: white;
  text-align: center;
  width: 100%;
  //height: 90%;
  overflow: hidden;
  max-width: $maxWidth;
  margin-top: $desktopMarginTop;
  margin-bottom: 4em;
  margin-right: 3em;
  margin-left: 3em;
  background-color: $calloutBackground;

  //border: 1px solid red;

  .creditsContent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

  }

  p {
    font-family: $menlo;
    font-size: 0.7em;
    line-height: 1.7em;
    padding-left: 1em;
    padding-right: 1em;
  }

  p:last-child {
    padding-bottom: 3em;
  }
  p > strong {
    display: inline-block;
    color: rgba(180, 180, 180, 1);
    margin-top: 1em;
    font-family: $open_sans_condensedbold;
    letter-spacing: 0.15em;
    font-size: 1em;
  }

  p > em {
    display: inline-block;
    color: $tomatoHeader;
    margin-top: 1em;
    font-family: $open_sans_condensedbold;
    font-size: 1.3em;
    line-height: 2.5em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  .replayCredits {
    color: $tomatoHeader;
    cursor: pointer;
  }

  .replayCredits:hover {
    text-decoration: underline;
  }
}

.credits:hover {
  border: 2px solid $tomatoHeader;
  //box-shadow: inset 0 0 6px $tomatoHeader;
}

// THEORY

.press {
  position: relative;
  margin-top: $desktopMarginTop;
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: $maxWidth;
}

.imageViewerDisplay {
  width: 100%;
  background-color: $calloutBackground;
}

.contact, .reviews, .downloads, .info {
  position: relative;
  margin-top: $desktopMarginTop;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  max-width: $maxWidth;
  font-family: $menlo;
  //margin-left: 3em;
  //margin-right: 3em;
  color: white;
  background-color: $calloutBackground;

  a:hover {
    color: $tomatoHeader;
  }
}

.reviews, .downloads, .contact, .info {
  margin-top: 0;
  min-height: 400px;
  align-items: center;
  justify-content: center;
}

.infoLinks {

  div:nth-child(1) {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.3em;
  }
  div:nth-child(2) {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3em;
    font-size: 13px;
  }
  div:nth-child(3) {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.8em;
    font-size: 13px;
    margin-bottom: 1em;
  }
}

.downloads a:hover {
  color: $tomatoHeader;
}

.info a:hover {
  color: $tomatoHeader;
  text-decoration: underline;
}

.contact {
  margin-top: $desktopMarginTop;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 2em;
}

.events {
  position: relative;
  text-align: left;
  padding: 2em;
  padding-top: 1.5em;
  line-height: 1.2em;

  h1 {
    color: $tomatoHeader;
    margin-bottom: 0.7em;
    font-size: 1.5em;
    letter-spacing: 0.06em;
    line-height: 1.2em;
  }

  h4 {
    margin-top: 0.6em;
  }
  p {
    font-size: 0.75em;
    line-height: 1.3em;

    margin-top: 0.6em;
  }
}

.events {
  text-align: center;
}

.downloads {
  line-height: 1em;
  .submitDownload {
    border: 1px solid white;
    padding: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.2em;
    cursor: pointer;
    background: transparent;
  }

  .submitDownload:hover {
    color: $tomatoHeader;
    border: 1px solid $navSelected;
    background-color: rgba(255, 255, 255, 0.6);

  }

  input[type=password] {
    border-style: none;
    background-color: $tomatoHeader;
    color: white;
    font-family: $menlo;
    padding: 0.5em;
    text-align: center;
    margin: 2em;
    border: 1px solid white;
  }
  input[type=password]:focus {
    outline: none;
  }
}

// DOWNLOADS

.passwordRequest {
  font-size: 0.85em;
  color: $tomatoHeader;
  margin-top: 1.5em;
  cursor: pointer;
}

.passwordRequest:hover {
  text-decoration: underline;
}

@media (max-width: $navWidth) {

  .contact {
    line-height: 1.4em;
  }

  .makingOfListCallout {
    width: 250px;
  }
  .listCallout li, .makingOfListCallout li {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0.7em;
    padding-right: 0.7em;
    font-size: 9px;
    cursor: pointer;
    line-height: 1.4em;

  }

}

@media (max-width: 799px) and(orientation: landscape) {
  .logos {
    position: fixed;
    top: 3.5em;
    z-index: 1;
    overflow: visible;
    width: 33px;
    margin-left: 3.2em;
  }

  .logos img {
    width: 100%;
    margin-bottom: 0px;
    margin-left: 5px;
  }
}

@media (max-width: 799px) and (orientation: portrait) {

  .press {
    flex-direction: column;
  }

  .listCallout {
    width: 100%;
    margin-bottom: 1em;
  }

  .listItem {
    padding: 0;
    text-align: center;
    font-size: 0.6em;
    line-height: 1.3em;
  }
  .makingOfListCallout {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .makingOfListCallout li {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 9px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.4em;
  }

  .logos {
    position: fixed;
    top: 3.5em;
    z-index: 1;
    overflow: visible;
    width: 40px;
    margin-left: 2.5em;
  }

  .logos img {
    width: 100%;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .credits {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}
