$helvetica: system, -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@import '../../../../node_modules/resetcss/reset.min.css';
@import 'fontello.scss';
@import 'open_sans.css';
@import 'menlo.css';
@import "hamburger.scss";

$navSelected: #b70606;
$navWidth: 770px;
$calloutBackground: rgba(0, 0, 0, 0.6);

body {
  background-color: black;
  font-family: 'Menlo-Regular';
  overflow-x: hidden;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animated {
  animation: animate 40s linear infinite;
  -webkit-animation: animate 40s linear infinite;
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.navigation {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: $navWidth;
  height: 1.5em;
  top: 0;
  left: 0;
  right: auto;
  text-align: right;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: auto;
}

.navigation ul {
  background-color: transparent;
  border: none;
  padding-bottom: 0;
  padding-top: 0;
}

.navigation li {
  display: inline-block;
}

#hamburger {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
}

@media (max-width: $navWidth) {
  .navigation {
    flex-direction: column;
    width: 130px;
    height: 1.5em;
    top: 2em;
    left: auto;
    right: 0;
    text-align: right;
    margin-left: auto;
    margin-right: 0.5em;

  }

  .navigation ul {
    background-color: $calloutBackground;
    border: 1px solid #ccc;
    padding-bottom: 5px;
    padding-top: 3px;
  }
  .navigation li {
    display: block;
  }

  #hamburger {
    display: block;
  }
}

.mainNavButtonActive {
  color: white;
  display: inline-block;
  padding-top: 4px;
  padding-left: 0.7em;
  padding-right: 0.7em;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.mainNavButtonActive:hover {
  color: $navSelected;
}

.mainNavButtonSelected {
  color: $navSelected;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 0.7em;
  padding-right: 0.7em;
  cursor: default;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: rgba(255, 255, 255, 0.7);
}

.contentCenterAlign {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  font-family: 'open_sansbold';
}

.contentTopAlign {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  left: 0;
  font-family: 'open_sansbold';
  //border:1px solid red;
  //overflow: hidden;
}

.contentInset {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 5em;
  width: 100%;
  max-width: 800px;
  padding: 2em;
  paddingTop: '1em';
}

.listCallout {
  font-family: 'Menlo-Regular';
  font-size: 0.75em;
  line-height: 1.3em;
  text-align: right;
  background-color: $calloutBackground;
  //border: 1px solid #ccc;
  width: 220px;
  color: white;
  margin-right: 1em;

  li {
    padding-top: 4px;
    padding-bottom: 1em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    font-size: 13px;
    cursor: pointer;
  }

  .listItemSelected {
    color: $navSelected;
    cursor: default;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.listItem {
  font-family: 'Menlo-Regular';
  font-size: 0.75em;
  line-height: 1.7em;
  color: white;
  background-color: $calloutBackground;
  padding: 3em;
  padding-top: 1em;
  width: 100%;

  h1 {
    font-family: 'open_sansbold';
    line-height: 1.3em;
    font-size: 2em;
    padding-bottom: 1em;
  }
  p {
    padding-bottom: 1em;

  }
}

// SPLASH PAGE

.splashPage {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 920px;

  svg {
    cursor: pointer;
  }
  .splashHeader {
    font-family: 'open_sans_condensedbold';
    line-height: 0.7em;
    font-size: 3em;
    text-align: center;
    color: white;
    margin-bottom: 2em;
  }
  .splashSub {
    font-family: 'open_sanscondensed_light';
    font-size: 3em;
    text-align: center;
    color: white;
    margin-left: 0.6em;

  }

}

.socialIcons {
  font-size: 1.6em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.3em;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 270px;
  }
  a {
    display: inline-block;
    border-radius: 5px;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: white;
    transition: background-color .2s linear, $navSelected .2s linear;
  }

  a:hover {
    color: $navSelected;

  }
}

// CREDITS

.credits {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin-top: 4em;
  margin-bottom: 4em;

  p {
    font-family: 'Menlo-Regular';
    font-size: 0.7em;
    line-height: 1.7em;
    padding-left: 1em;
    padding-right: 1em;
  }
  p:last-child {
    padding-bottom: 3em;
  }
  p > strong {
    display: inline-block;
    color: rgba(180, 180, 180, 1);
    margin-top: 1em;
    font-family: 'open_sans_condensedbold';
    letter-spacing: 0.15em;
    font-size: 1em;
  }

  p > em {
    display: inline-block;
    color: #b84133;
    margin-top: 1em;
    font-family: 'open_sans_condensedbold';
    font-size: 1.3em;
    line-height: 2.5em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

// THEORY

.theory, .interviews, .interviews, .makingOf {
  position: relative;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 780px;
}

.stills {
  position: relative;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 780px;
  //border: 1px solid red;
  overflow: hidden;
}
.imageViewerDisplay{
  width: 100%;
  background-color: $calloutBackground;
}
.stills img {
  width: 91%;
  margin-left:4.5%;
  padding-top: 1.5em;
}

// STILLS

.imageViewerControl {
  font-family: 'Menlo-Regular';
  font-size: 0.75em;
  line-height: 1.7em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: $calloutBackground;
  width: 100%;
}

.imageViewerControlArrow {
  margin-top: 1em;
  margin-left: 2.4em;
  margin-right: 2.4em;
  display: inline-block;
  font-family: "fontello";
  border: 1px solid white;
  font-size: 1.3em;
  padding: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  cursor: pointer;
}

.imageViewerControlCounter {
  display: inline-block;
  margin-top: 1em;
}