@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('../fonts/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
    url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../fonts/OpenSans-CondBold-webfont.eot');
    src: url('../fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensansbold-webfont.eot');
    src: url('../fonts/opensansbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensansbold-webfont.woff2') format('woff2'),
    url('../fonts/opensansbold-webfont.woff') format('woff'),
    url('../fonts/opensansbold-webfont.ttf') format('truetype'),
    url('../fonts/opensansbold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensanslight-webfont.eot');
    src: url('../fonts/opensanslight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensanslight-webfont.woff2') format('woff2'),
    url('../fonts/opensanslight-webfont.woff') format('woff'),
    url('../fonts/opensanslight-webfont.ttf') format('truetype'),
    url('../fonts/opensanslight-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensansregular-webfont.eot');
    src: url('../fonts/opensansregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensansregular-webfont.woff2') format('woff2'),
    url('../fonts/opensansregular-webfont.woff') format('woff'),
    url('../fonts/opensansregular-webfont.ttf') format('truetype'),
    url('../fonts/opensansregular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensanssemibold-webfont.eot');
    src: url('../fonts/opensanssemibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensanssemibold-webfont.woff2') format('woff2'),
    url('../fonts/opensanssemibold-webfont.woff') format('woff'),
    url('../fonts/opensanssemibold-webfont.ttf') format('truetype'),
    url('../fonts/opensanssemibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}