.screenings {
  position: relative;
  margin: 0 auto;
  color: white;
  width: 100%;
  max-width: $maxWidth;
  background-color: $calloutBackground;
}


.screeningsItem {
  position: relative;
  text-align: center;
  padding: 2em;
  padding-top: 1.5em;
  line-height: 1.2em;

  h1 {
    color: $tomatoHeader;
    margin-bottom: 0.7em;
    font-size: 1.5em;
    letter-spacing: 0.06em;
    line-height: 1.2em;
  }

  h4 {
    margin-top: 0.6em;
  }
  p {
    font-size: 0.75em;
    line-height: 1.3em;

    margin-top: 0.6em;
  }
}

.screeningsComment {
  max-width: 400px;
  padding: 1em;
  position: relative;
  margin: 0 auto;
  text-align: left;
  /* border: 1px solid; */
}